*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:linear-gradient(180deg,#1b1f36,#1e223a);
color:white;
overflow-x:hidden;
}

/* NAVBAR */
header{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
background:rgba(20,24,48,0.7);
backdrop-filter:blur(12px);
z-index:1000;
}

.logo{
font-weight:700;
font-size:20px;
}

.logo span{
color:#ff4d5a;
}

nav ul{
display:flex;
gap:35px;
list-style:none;
}

nav a{
color:#ccc;
text-decoration:none;
transition:.3s;
}

nav a:hover,
nav a.active{
color:#ff4d5a;
}

.menu-toggle{
display:none;
font-size:22px;
cursor:pointer;
}

/* HERO */
.hero{
height:100vh;
display:flex;
align-items:center;
padding:0 8%;
position:relative;
}

.hero-content{
max-width:550px;
}

.hero h1{
font-size:56px;
font-weight:600;
line-height:1.2;
margin-bottom:20px;
}

.highlight{
color:#ffffff;
}

.hero p{
color:#8a8fa3;
margin-bottom:35px;
}

.btn{
background:#ff4d5a;
border:none;
padding:14px 40px;
color:white;
cursor:pointer;
transition:.3s;
}

.btn:hover{
transform:translateY(-5px);
background:#ff2e43;
}

/* PROGRESS */
.progress{
position:absolute;
right:5%;
top:35%;
display:flex;
flex-direction:column;
align-items:center;
}

.dot{
width:14px;
height:14px;
border:2px solid #ff4d5a;
border-radius:50%;
}

.dot.active{
background:#ff4d5a;
}

.line{
width:2px;
height:40px;
background:#ff4d5a;
}

/* SERVICES */
.services{
padding:140px 8%;
}

.small-title{
color:#aaa;
font-size:14px;
}

.services h2{
font-size:42px;
color:#ff4d5a;
margin:10px 0;
}

.underline{
width:60px;
height:3px;
background:#ff4d5a;
margin-bottom:60px;
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;
}

.card{
background:#242842;
padding:40px;
border-radius:6px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.icon{
font-size:28px;
color:#ff4d5a;
margin-bottom:20px;
}

.card p{
color:#9aa0b5;
font-size:14px;
}

/* CONTACT */
.contact{
position:relative;
padding:140px 8%;
}

.contact h2{
color:#ff4d5a;
font-size:36px;
margin-bottom:40px;
}

form{
max-width:500px;
display:flex;
flex-direction:column;
gap:20px;
}

input,textarea{
padding:15px;
background:#242842;
border:none;
color:white;
}

textarea{
height:120px;
resize:none;
}

/* REVEAL */
.reveal{
opacity:0;
transform:translateY(80px);
transition:1s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

/* RESPONSIVE */
@media(max-width:992px){
.grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:768px){

.menu-toggle{
display:block;
}

nav ul{
position:absolute;
top:80px;
right:8%;
background:#1b1f36;
flex-direction:column;
padding:20px;
display:none;
}

nav ul.show{
display:flex;
}

.hero h1{
font-size:36px;
}

.grid{
grid-template-columns:1fr;
}

.progress{
display:none;
}
}
